/** {
    color: white;
    font-family: Arial;
}*/
html {
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    background-image: url("img.png");
    background-attachment: fixed;
    height: 96vh;
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.subcontent{
    background: rgba(133,21,185,0.75);
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 15px 15px 15px 15px;
}
.contentBox * {
    background: rgba(168,26,229,0.75);
    padding: 10px 10px 10px 10px;
    border-radius: 15px 15px 15px 15px;
}
.wrappie {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
}
.headerBox {
    display: flex;
    height: fit-content;
    flex: 1 25 content;
    height: 100%;
    max-width: 5vw;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background: rgba(133,21,185,0.75);
    padding: 5px 15px 15px 5px;
    border-radius: 1px 15px 15px 1px;
}
.headerButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 content;
    width: 100%;
    border-radius: 10%;
    margin: 1px;
    cursor: pointer;
    background: rgba(168,26,229,0.75);
    border: 1px solid purple;
    transition: background 500ms ease-out 100ms;
    transition: flex 500ms ease-out 100ms;
}
.headerButtons * {
    transform: rotate(-90deg);
    text-align: center;
    color: white;
    position: relative;
    margin: 0px;
    width: fit-content;
    height: fit-content;
    font-size: large;
}
.headerButtons:hover {
    background: rgba(168,26,229,1);
    flex: 2 1 content;
}
.headerButtons:focus {
    background: rgba(168,26,229,1);
    flex: 2 1 content;
}
#youAreHere {
    background: rgba(168,26,229,1);
    flex: 1.25 1 content;
}
span {
    color: white;
}
