/** {
    color: white;
    font-family: Arial;
}*/
body {
    margin: 0px;
}
html {
    background-color: #000000;
}
.headerButtons {
    opacity: 0.5;
    height: auto;
    width: auto;
    text-align: center;
    background: #a81ae5;   
    margin: 0px 5px 0px 5px;
    border-radius: 5%;
    color: white;
}
.headerBox {
    display: flex;
    opacity: 0.75;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vmin;
    background: #a81ae5;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 10px;
    border-radius: 1px 1px 15px 15px;
}
