/** {
    color: white;
    font-family: Arial;
}*/
body {
    margin: 0px;
    background-image: url("img.png");
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*html {
}*/
.contentBox * {
    background: #8515b9;
    padding: 10px 10px 10px 10px;
    border-radius: 15px 15px 15px 15px;
    opacity: 0.75;
}
.contentBox * * {
    background: #a81ae5;
    padding: 10px 10px 10px 10px;
    border-radius: 15px 15px 15px 15px;
    opacity: 0.75;
}
.wrappie {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
    width: 100%;
    
}
.headerButtons {
    opacity: 0.75;
    border: 1px solid white;
    text-align: center;
    background: #a81ae5;
    border-radius: 10%;
    color: white;
    cursor: pointer;
    flex: 1 1 auto;
    transition: opacity 500ms ease-out 100ms;
    transition: flex 500ms ease-out 100ms;
}

span {
    color: white;
}

.headerButtons:hover {
    opacity: 1;
    flex: 2 1 auto;
}
.headerButtons:focus {
    opacity: 1;
    flex: 2 1 auto;
}

.headerBox {
    background-attachment: relative;
    display: flex;
    opacity: 0.75;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-self: left;
    width: 95%;
    max-height: 10vw;
    background: #8515b9;
    padding: 0px 10px 0px 10px;
    border-radius: 1px 1px 15px 15px;
    transform: rotate(-90deg);
    
}
